#wrapper {
	display: flex;
	height: 1000px;
	background: grey;
}
#sidebar {
	width: 20%;
	height: 100%;
	max-height: fit-content;
	background-color: blue;
}
#content {
	background-color: yellow;
	width: 80%;
}
